body {
	font-family: Montserrat, "Montserrat Alternates Black", Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #3A3B3B;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
p {
	line-height: 1.6;
	font-size: 16px;
}
a {
	color: #3A3B3B;
	text-decoration: none;
}
a:hover, a:active {
	color: #f99d1c;
	text-decoration: none;
}
.light-orange-color {
color: #f8ccb3 !important;
}
.light-orange {
	background-color: #f8ccb3 !important;
}
.orange {
	color: #f99d1c !important;
}
.bg-orange {
	background-color: #f99d1c;
}
.black {
	color: #323232;
}
.bg-black {
	background-color: #323232;
}
.oranger-bar-btn {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background: #f99d1c;
	border: 2px solid #f99d1c;
	padding: 12px 20px 12px 20px;
	position: relative;
	transition: all 900ms ease;
	cursor: pointer;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	z-index: 1;
}
.oranger-bar-btn:hover {
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
}
.btn-outline {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	color: #3b3b3b;
	background: transparent;
	border: 2px solid #3b3b3b;
	padding: 7px 26px;
	position: relative;
	transition: all 900ms ease;
	cursor: pointer;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	z-index: 1;
}
.btn-outline:hover {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	color: #3b3b3b;
	background: #ff9000;
	border: 2px solid #f9a97c;
	padding: 7px 26px;
	position: relative;
	transition: all 900ms ease;
	cursor: pointer;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	z-index: 1;
}
b, strong {
	font-weight: 600;
	letter-spacing: 1px;
	color: #ff9000;
}
.service-area {
	padding: 35px 0 35px 0;
}
.text-muted {
	color: #868e96 ;
}
.big-font{ font-size:26px;}
.bg-gray-300 {
	background-color: #dee2e6 !important;
}
.pb-0 {
	padding-bottom: 0rem !important;
}
.mg-0 {
	margin-bottom: 0rem !important;
}
.pb-3, .py-3 {
	padding-bottom: 3rem !important;
}
.pt-3, .py-3 {
	padding-top: 3rem !important;
}
.bg-gray-100 {
	background-color: #f8f9fa !important;
}
.text-gray-300 {
	color: #dee2e6 !important;
}
.font-weight-light {
	font-weight: 300 !important;
}
.pb-4, .py-4 {
	padding-bottom: 1.5rem !important;
}
.pt-4, .py-4 {
	padding-top: 1.5rem !important;
}
.bg-gray-800 {
	background-color: #343a40 !important;
}
.align-items-center {
	align-items: center !important;
}
li.dropdown:hover > .dropdown-menu {
	display: block;
}
/*navigation*/
.nav-link, .dropdown-item {
	font-size: 14px;
	font-weight: 300 !important;
}
.navbar {
	box-shadow: 0px 1px 5px 1px #ecebeb;
}
/* slider */
.carousel-control-next, .carousel-control-prev {
	width: 4%;
}
/* Since positioning the image, we need to help out the caption */


.carousel-caption {
	bottom: 3rem;
	z-index: 10;
	width: 30%;
	background-color: #fff;
	border-bottom: solid 6px #f99d1c;
	color: #3a3a3a;
}
.carousel-caption p {
	margin-bottom: 0.25rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
 height: 32rem;
 background-color: #777;
}
.carousel-item > img {
 position: absolute;
 top: 0;
 left: 0;
 min-width: 100%;
 height: 32rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
 margin-bottom: 1.25rem;
 font-size: 1.25rem;
 line-height: 1.4;
}
 .featurette-heading {
 font-size: 50px;
}
}
 @media (min-width: 62em) {
 .featurette-heading {
 margin-top: 7rem;
}
}










/* orange-bar */
.orange-area {
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}
.section-title {
 text-align: center;
 margin-bottom: 45px;
}
.section-title h1 {
 font-size: 36px;
 font-weight: 500;
}
.section-title h2, h2 {
 font-weight: 400;
 font-size: 36px;
 line-height: 48px;
}
.section-title h3 {
 font-size: 24px;
 font-weight: 400;
}
.section-title p {
 font-size: 16px;
 font-weight: 300;
 line-height: 30px;
 color: #58595b;
}
.card {
 box-shadow: 0px 1px 20px 1px #d4d4d4;
 padding: 5px;
 padding: 15px;
}
.card-img-top {
 border: solid 1px #ccc;
}
.card-text {
 font-size: 14px;
 font-weight: 300;
 line-height: 23px;
 margin-top: .5rem;
 margin-bottom: 1rem;
 color: #727272;
}
.card-box-btn {
 display: block !important;
 text-align: center;
}
.card-body {
 padding: 10px 10px;
}
/* Location Text*/
.loc-box {
 background: #fff5ef;
 border: solid 1px #ffe7d8;
 border-radius: 0;
 box-shadow: none;
}
.loc-box:hover {
 background: #666;
 color: #fff;
 border: solid 1px #333;
}
.loc-box .card-body {
 padding: 20px;
}
.loc-name {
 font-weight: 400;
 font-size: 30px;
 line-height: 40px;
}
.rating {
 text-align: center;
 display: block;
}
.rating h3 {
 font-size: 20px;
}
.rating h3 i {
 color: #ec6e00;
 margin-right: 10px;
 font-size: 25px;
}
.rating-box {
 width: 60%;
 background: #ec6e00;
 padding: 5px;
 display: block;
 text-align: center;
 margin: 0 auto;
}
.rating-box i {
 color: #fff;
}
.rating .score {
 font-size: 14px;
}
.rating .score span {
 text-align: right;
 font-size: 14px;
 margin-left: 25px;
 font-weight: 300;
}
.rating .review {
 font-size: 14px;
}
.rating .review span {
 text-align: right;
 font-size: 14px;
 margin-left: 25px;
 font-weight: 300;
}
.rating p {
 line-height: 30px;
 margin: 10px 0;
 font-weight: 300;
}


/* footer */

/* responsive */

@media (min-width: 320px) and (max-width: 768px) {
.orange-area {
padding-top: .5rem;
padding-bottom: .5rem;
}
.orange-area p {
 font-size: 70%;
}
.oranger-bar-btn {
 padding: 5px 10px;
 margin-top: 10px;
}
.section-title h1, h1 {
 font-size: 20px;
 font-weight: 400;
}
.section-title h2, h2 {
 font-size: 20px;
 font-weight: 400;
line-height:normal;
}
.section-title h3, h3 {
 font-size: 16px;
 font-weight: 400;
}
.section-title p {
 font-size: 14px;
 font-weight: 300;
 line-height: 25px;
 color: #58595b;
}
 .carousel-caption {
bottom: 3rem;
z-index: 10;
width:70%;
background-color: #fff;
border-bottom:solid 6px #f99d1c;
color:#3a3a3a;
}
}

@media (min-width:1150px) {
.navbar-expand-md {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
.navbar-expand-md .navbar-nav {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
.navbar-expand-md .navbar-nav .dropdown-menu {
	position: absolute
}
.navbar-expand-md .navbar-nav .dropdown-menu-right {
	right: 0;
	left: auto
}
.navbar-expand-md .navbar-nav .nav-link {
padding-right:.5rem;
padding-left:.5rem
}
.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}
.navbar-expand-md .navbar-collapse {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto
}
.navbar-expand-md .navbar-toggler {
	display: none
}
.navbar-expand-md .dropup .dropdown-menu {
	top: auto;
	bottom: 100%
}
}